.cards {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__card {
    padding: 20px;
    border-radius: 12px;
    color: var(--card-text);
    position: relative;
    overflow: hidden;
    height: 130px;

    @media (min-width: 768px) {
      flex: 1 1 0;
      height: 150px;
    }

    p {
      font-size: 40px;
      margin-bottom: 8px;
			font-weight: bold;
    }

    @media (min-width: 768px) {
      p {
        font-size: 64px;
      }
    }

    h3 {
      font-size: 20px;
			font-weight: normal;
    }

    &--characters {
      background-color: var(--purple-light);
      img {
        position: absolute;
        right: -50px;
        top: 0px;
        bottom: 0;
        object-fit: contain;
        background-position: center center;
      }
    }

    &--words {
      background-color: var(--yellow);
      img {
        position: absolute;
        right: -50px;
        top: 0px;
        bottom: 0;
        object-fit: contain;
        background-position: center center;
      }
    }
    &--sentences {
      background-color: var(--orange-light);
      img {
        position: absolute;
        right: -50px;
        top: 0px;
        bottom: 0;
        object-fit: contain;
        background-position: center center;
      }
    }
  }
}
